<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.hire_me">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Registration" />
        <activity android:name=".CommentSection" />
        <activity android:name=".Faq" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Visiting_Companies" />
        <activity android:name=".Comany" />
        <activity android:name=".Statistics" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".Apply" />
        <activity android:name=".DetailInfo" />
        <activity android:name=".Wishlist" />
        <activity
            android:name=".Admin.AdminLogin"
            android:label="@string/title_activity_admin_login" />
        <activity android:name=".UpdateActivity"></activity>
    </application>

</manifest>